* {
    background: hsl(216deg 50% 11%);
}

.contenedor {
    width: 280px;
    padding: 20px;
    background: #14253d;
    border-radius: 8px;
    margin: 30px auto;
    margin-top: 20%;
    margin-bottom: 15px;
    text-align: center;
}

.img {
    width: 100%;
    border-radius: inherit;
}



.img2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid white;

}

h1 {
    color: white;
    background: inherit
}

h1:hover{
    color:#00fff7;
}

p {

    color: #8bacda;
    background: inherit
}

.conte {
    display: flex;
    justify-content: space-around;
    background: #14253d;
}

.cripto{
    color:#00fff7;
    background: #14253d;
}

.dias{
    color: #8bacda;
    background: inherit;
}

svg{
    background:inherit;
}

.v-line{
    margin-top: 20px;
    height: 2px;
    width: 100%;
    border-radius:5px;
    background-color: rgb(255, 255, 255);
}

.titular{
    background:inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attribution{
    color: white;
}